.oneTimer {
  text-align: center;
  display: grid;
  grid-template-areas:
  "ch m t";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2px;
}

.oneTimer div, label {
  border: 1px solid white;
  color: #d28e04;
  background-color: rgba(0, 0, 0, 0.52);
  padding: auto;
}

.oneTimer input[type='text'] {
  width: 40px;
}

input[type="checkbox"] {
  transform: scale(1.5);
  padding: 10px;
}

.select {
  grid-area: ch;
}

.mode {
  grid-area: m;
}

.time {
  grid-area: t;
}
