.timer {
  text-align: center;
  display: grid;
  grid-template-areas:
  "c mc tc";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2px;
}

.timer div {
  border: 1px solid white;
  color: #d28e04;
  background-color: rgba(0, 0, 0, 0.52);
  padding: 5px;
}

.timer input[type='text']{
  width: 80px;
}

input[type="checkbox"]{
  transform: scale(1.5);
  padding: 10px;
}

.select {
  grid-area: c;
}

.mode{
  grid-area: mc;
}

.time{
  grid-area: tc;
}
