.tengDayNight {
  text-align: center;
  display: grid;
  grid-template-areas:
  "day night";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.day {
  grid-area: day;
}

.night {
  grid-area: night;
}
