// @w: 1000px;
* {
  /* font-family: 'PT Sans', sans-serif; */
  /* color: rgb(190, 190, 190); */
  font-family: Arial, sans-serif;
  // border: solid 1px;
  // transition: 0.5s;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  min-width: 400px;
  background-image: linear-gradient(to top, rgb(35, 35, 35), rgb(0, 0, 0));
  color: rgb(190, 190, 190);
}

h1,
h2 {
  color: rgb(255, 255, 255);
}